header.scene_element
    a.logo(href="/")
        img(src="http://contester.digitalmind.ch/wp-content/uploads/2015/02/contester_icon.png")
    .menu-container
        nav.off-canvas-menu 
            ul
                li
                    a(href="#") Tasum
                li
                    a(href="#") Aldpol
                    
                li.menu-item-has-children
                    a(href="#") Oughw
                    ul.sub-menu
                        li
                            a(href="#") Shyidra
                        li
                            a(href="#") Randel
                        li
                            a(href="#") Ia'usk
                    // /.sub-menu
                    
                li
                    a(href="#") Swaimim
            // /ul
        // /.off-canvas-menu
        
        nav.main-menu
            ul.first
                li
                    a.logo(href="/")
                        img(src="http://contester.digitalmind.ch/wp-content/uploads/2015/02/contester_icon.png")
            ul.second
                li
                    a(href="#") Smedgone
                li
                    a(href="#") Aotaliope
                    
                li.menu-item-has-children
                    a(href="#") Rothiope
                    ul.sub-menu
                        li
                            a(href="#") Delirious Lyric
                        li
                            a(href="#") Cleliopyte
                        li
                            a(href="#") Xioeleia
                    // /.sub-menu
                    
                li
                    a(href="#") Iorireto    
            // /ul
        // /.main-menu
    // /.menu-container
// /header