- var urlbase = '/jadeandsmoothstateexperiment'

script(src="#{urlbase}/js/jquery-2.1.4.js")
script(src="#{urlbase}/js/jquery.smoothState.js")
script(src="#{urlbase}/js/functions.js")
script(src="#{urlbase}/js/main.js")
