// TOOLBOX COLORS
//---------------------------------------------------------------------
$white: #FDFDFD;
$black: #202020;
$darkgray: #333;
$blood: #730F17;
$teal: #54706A;

// PROJECT COLORS
//---------------------------------------------------------------------
$pink: #E9B4B3;
$pale-pink: #F2E4E1;
$coal: #1D2426;
$teal: #35565D;
$grass: #8AB283;


// winter orange http://design-seeds.com/home/entry/morning-tones5
$pumice-gray: #B7BDB8;
$navada-gray: #677678;
$outer-space-gray: #2F3636;
$crail-orange: #B34C3D;
$pancho-yellow: #EDCCA5;
$cararra-cream: #EDEBE8;
